{% extends app.request.xmlHttpRequest? '@Builder/Object/list/ajax.list.object.html.twig' : '@Builder/Object/list/list.object.html.twig' %}

{% block object_list %}
    {% if entity.dataType %}
        {% for pair in objects %}
            <div class="item">
                <div class="content">
                    {{ block('node_buttons_data_object') }}
                    <div class="ui dividing header">
                        {{ getMainFields(pair.object, false)|default('Обьект #'~pair.object.id) }}
                    </div>
                </div>
            </div>
        {% endfor %}
    {% else %}
        {% for pair in objects %}
            <div class="item">
                <div class="content">
                    {{ block('node_buttons_object') }}
                    <div class="ui dividing header">
                        {{ pair.object.name }}
                    </div>
                </div>
            </div>
        {% endfor %}
    {% endif %}
{% endblock %}

{% block node_buttons_object %}
    <div class="child-left right floated ui icon buttons">
        <a class="tiny ui button"
           href="{{ path('vSingleObject',{'entityType': pair.object.entityType.slug, 'object':pair.object.slug}) }}"
           title="{{ 'Страница обьекта'|trans }}">
            <i class="external icon"></i></a>
        <a class="tiny ui button" href="{{ path('builder_edit_big_object',{'id': pair.object.id}) }}"
           title="{{ 'Редактировать'|trans }}">
            <i class="edit icon"></i></a>
        <a class="tiny ui button" href="{{ path('builder_delete_object',{'id':pair.object.id}) }}"
           title="{{ "Удалить обьект"|trans }}">
            <i class="remove circle icon"></i></a>
    </div>
{% endblock %}

{% block node_buttons_data_object %}
    <div class="child-left right floated ui icon buttons">
        <a class="tiny ui button" href="{{ path('builder_edit_object',{'id':pair.object.id}) }}"
           title="{{ 'Редактировать'|trans }}">
            <i class="edit icon"></i></a>
        <a class="tiny ui button" href="{{ path('builder_delete_object',{'id':pair.object.id}) }}"
           title="{{ "Удалить обьект"|trans }}">
            <i class="remove circle icon"></i></a>
    </div>
{% endblock %}