{% extends 'BuilderBundle:default:base.object.fields.html.twig' %}

{% block content %}
    <div class="twelve wide column">
        <h1 class="ui header">{{ "Создать объект типа <b>%type</b>"|trans({'%type' : entityType.name})|raw }}</h1>
        {{ form_start(form) }}
        {% if not entityType.dataType %}
            {{ form_row(form.name) }}
            {{ form_row(form.slug) }}
            {{ form_row(form.isCommentable) }}
            {{ form_row(form.description) }}
        {% endif %}
        {{ block('form_tabable_dropdown') }}
        <button type="submit" id="{{ form.submit_button.vars.id }}" name="{{ form.submit_button.vars.full_name }}"
                class="primary ui button">{{ form.submit_button.vars.label }}</button>
        {{ form_end(form) }}
        <a class="ui left floated button primary" href="{{ path('builder_add_types',{}) }}">Назад</a>
    </div>
{% endblock %}