{% extends '::crud_page.html.twig' %}

{% block content %}
    <div class="twelve wide column">
        {% if entity.dataType %}
            <h3 class="ui header">{{ "Существующие объекты типа-данных "|trans ~ ' "' ~ entity.name -}}
                {{- (parent_types|length == 1)? ("\" типа "|trans) : ("\" типов "|trans) -}}
                "{{ parent_types|join('", "') }}"
            </h3>
        {% else %}
            <h3 class="ui header">{{ "Существующие объекты типа"|trans ~ ' ' ~ entity.name }}</h3>
        {% endif %}
        {% if nodeObjects|length == 0 %}
            <div class="ui middle">
                <span>{{ "Нет таких"|trans }}</span>
            </div>
        {% else %}
            <div class="ui middle aligned recursive list">
                {{ block('object_list') }}
            </div>
        {% endif %}
        <a class="ui left floated button primary"
           href="{{ path('builder_add_type_object', {'id':entity.id}) }}">{{ 'Создать обьект'|trans }}</a>
        <hr/>
        <a class="ui left floated button primary backward"
           href="{{ path('builder_add_types') }}">{{ 'Назад'|trans }}</a>
    </div>
{% endblock %}


{% block object_list %}
    {% if entity.dataType %}
        {% for objId, objValue in mainFields %}
            <div class="item">
                <div class="content">
                    {{ block('node_buttons_data_object') }}
                    <div class="ui dividing header">
                        {% if objValue is iterable %}{{ objValue|join(', ') }}{% else %}{{ objValue }}{% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
    {% else %}
        {% for node in nodeObjects %}
            <div class="item">
                <div class="content">
                    {{ block('node_buttons_object') }}
                    <div class="ui dividing header">
                        {{ node.name }}
                    </div>
                </div>
            </div>
        {% endfor %}
    {% endif %}
{% endblock %}

{% block node_buttons_object %}
    <div class="child-left right floated ui icon buttons">
        <a class="tiny ui button" href="{{ path('builder_edit_big_object',{'id':node.id}) }}"
           title="{{ 'Редактировать'|trans }}">
            <i class="edit icon"></i></a>
        <a class="tiny ui button" href="{{ path('builder_delete_object',{'id':node.id}) }}"
           title="{{ "Удалить обьект"|trans }}">
            <i class="remove circle icon"></i></a>
    </div>
{% endblock %}

{% block node_buttons_data_object %}
    <div class="child-left right floated ui icon buttons">
        <a class="tiny ui button" href="{{ path('builder_edit_object',{'id':objId}) }}"
           title="{{ 'Редактировать'|trans }}">
            <i class="edit icon"></i></a>
        <a class="tiny ui button" href="{{ path('builder_delete_object',{'id':objId}) }}"
           title="{{ "Удалить обьект"|trans }}">
            <i class="remove circle icon"></i></a>
    </div>
{% endblock %}