{% spaceless %}
    {% spaceless %}
        <div class="ui top attached tabular menu">
            <div class="item" data-tab="left">upload</div>
            <div class="item" data-tab="center">link</div>
            <div class="active item" data-tab="right">list</div>
        </div>
        <div class="ui bottom attached tab" data-tab="left">
            <a href="{% if fieldValue.webPath is not empty %}{{ fieldValue.webPath }}" target="_blank"{% else %}"{% endif %} class="ui medium bordered image">
                <img class="ui centered image" src="{% if fieldValue.webPath is not empty %}{{ fieldValue.webPath ~ '?' ~ date().format('U') }}{% endif %}"
                    onerror="this.src='{{ asset('bundles/builder/img/noim.png') }}';"
                    data-url="{{ fieldValue|getSingleFieldThumb('gallery_grid') }}" data-name="{{ fieldValue.originalFileName }}">
            </a>
            {{ form_start(uploadForm) }}
            {{ form_row(uploadForm.originalFileName) }}
            {{ form_row(uploadForm.file) }}

            <div class="ui two buttons">
                {{ form_row(uploadForm.upload) }}
                {% if fieldValue.id %}
                    <a class="ui detach-file red button" target="_blank"
                    href="{{ path('builder_delete_ajax_fv_file', {id:fieldValue.id}) }}">{{ 'Удалить'|trans }}</a>
                {% endif %}
            </div>
            {{ form_rest(uploadForm) }}
            {{ form_end(uploadForm) }}
        </div>
        <div class="ui bottom attached tab" data-tab="center">{{ form(linkForm) }}</div>
        <div class="ui bottom attached active tab" data-tab="right">
            <div class="ui middle aligned divided list">
            {% for object in fieldValue.objects %}
                <div class="item">
                    <div class="right floated content">
                        <a class="ui tiny red detach-file button" href="{{ path('builder_unlink_ajax_fv_file', {id:fieldValue.id, objectId:object.id}) }}">del</a>
                    </div>
                    <div class="content">
                        <a class="ui link" href="{{ path('builder_edit_big_object',{id:object.id}) }}">[{{ 'Объект'|trans ~ ' ' ~ object.id  ~ ( ( object.name is not empty)? ' - ' ~ object.name : '' ) ~  ', тип ' ~ object.entityType.name }}] {{ fieldValue.typeField.name }}</a>
                    </div>
                </div>
            {% endfor %}
            </div>
        </div>
    {% endspaceless %}
{% endspaceless %}