{% block accordion_title %}
    <div class="title" tabindex="0">
        <i class="icon dropdown"></i>
        {{ accordion_title }}
    </div>
{% endblock %}

{% block form_tabable_dropdown %}
    <div class="ui accordion field">
        {# wysiwyg + comment fields #}
        {% if not entityType.isDataType %}
            {% set accordion_title = "Контент"|trans %}
            {{ block('accordion_title') }}
            <div class="content field" data-form-type="main-form">
                {{ form_row(form.isCommentable) }}
                {{ form_row(form.description) }}
                {{ block('accordion_content_save_button') }}
            </div>
        {% endif %}
        {% for groupName, fields in fieldsByGroups %}
            {% set accordion_title = groupName|capitalize %}
            {{ block('accordion_title') }}
            <div class="content field" data-form-type="main-form">
                {% for groupName, field in fields %}
                    {{ form_row(form[field['type'].id]) }}
                    {{ form_errors(form[field['type'].id]) }}
                {% endfor %}
                {{ block('accordion_content_save_button') }}
            </div>
        {% endfor %}

        {# связи и шаблон #}
        {% set accordion_title = 'Связи и шаблон'|trans %}
        {{ block('accordion_title') }}
        <div class="content field" data-form-type="main-form">
            {{ form_rest(form) }}
            {{ block('accordion_content_save_button') }}
        </div>
    </div>
{% endblock %}

{% block accordion_content_save_button %}
    {% if (app.request.xmlHttpRequest or isEditForm) %}
        {% set currentObject = objectEntity %}
        <button type="button" class="ui compact basic primary save-tab button"
                data-data-type="{{ entityType.isDataType }}"
                data-form-is-valid="{{ form.vars.valid }}"
                data-from-edit="{{ isEditForm }}"
        >Сохранить
        </button>
        {% if not isEditForm and form.vars.valid and objectEntity.id is not null %}
            {% set childObject = objectEntity %}
            <div class="new-object-tab">
                {{ block('child_object_tab_select_item') }}
                {{ block('child_object_tab_content_item') }}
            </div>
        {% endif %}
    {% else %}
        <button type="submit" class="ui compact basic primary button">Сохранить</button>
    {% endif %}
{% endblock %}

{% block accordion_content_delete_button %}
    <button type="button" class="ui compact basic red delete-this button">Удалить</button>
{% endblock %}

{% block child_object_tab_select_item %}
    <div class="item"
         data-change-tab="{{ 'obj_'~childObject.entityType.slug~'_'~childObject.id }}"
         data-url="{{ path('builder_edit_object',{ 'id': childObject.id}) }}"
    >{{ block('main_object_field_vals') }}</div>
{% endblock %}

{% block child_object_tab_content_item %}
    <div class="ui bottom attached tab segment"
         data-change-tab="{{ 'obj_'~childObject.entityType.slug~'_'~childObject.id }}"
         data-url="{{ path('builder_edit_object',{ 'id': childObject.id}) }}"></div>
{% endblock %}

{% block main_object_field_vals %}{{ getMainFields(childObject, false)|default('обьект ['~childObject.entityType.name~']') ~ ' ('~ childObject.id~')' }}{% endblock %}