{% block form_tabable_dropdown %}
    <div class="ui accordion field">
        {# wysiwyg + comment fields #}
        {% if not entityType.isDataType %}
            {% set accordion_title = "Контент"|trans %}
            {{ block('accordion_title') }}
            <div class="content field">
                {{ form_row(form.isCommentable) }}
                {{ form_row(form.description) }}
            </div>
        {% endif %}
        {% for groupName, fields in fieldsByGroups %}
            {% set accordion_title = groupName|capitalize %}
            {{ block('accordion_title') }}
            <div class="content field">
                {% for groupName, field in fields %}
                    {{ form_row(form[field['type'].id]) }}
                    {{ form_errors(form[field['type'].id]) }}
                {% endfor %}
            </div>
        {% endfor %}

        {# связи и шаблон #}
        {% set accordion_title = 'Связи и шаблон'|trans %}
        {{ block('accordion_title') }}
        <div class="content field">
            {{ form_rest(form) }}
        </div>
    </div>
{% endblock %}

{% block accordion_title %}
    <div class="title" data-form-type="main-form">
        {{ block('accordion_title_content') }}
    </div>
{% endblock %}

{% block accordion_title_ajax_form %}
    <div class="title" data-form-type="remote-form">
        {{ block('accordion_title_content') }}
    </div>
{% endblock %}

{% block accordion_title_content %}
    <i class="icon dropdown"></i>
    {{ accordion_title }}
    <button type="button" class="ui mini compact basic invisible save-tab button">Сохранить?</button>
    <button type="button" class="ui mini compact basic red invisible delete-this button">Удалить?</button>
{% endblock %}