{% extends '::crud_page.html.twig' %}

{% use 'BuilderBundle:Object:base.object.fields.html.twig' %}

{% block content %}
    {{ parent() }}
    <div class="sixteen wide column">
        {{ block('crud_modal') }}
        <div class="ui grid">
            {# 4 wide left sidebar menu #}
            <div class="ui four wide column vertical pointing secondary tabular menu">
                <a class="active item"
                   data-tab="main_object_form"><b>{{ 'Редактировать \"%name\"'|trans({'%name' : objectEntity.name})|raw }}</b></a>
                <div class="ui divider"></div>
                {# related types list #}
                {% for childType in objectEntity.entityType.childTypes if not childType.dataType %}
                    <a class="item" data-tab="{{ 'child_type_'~childType.slug }}">{{ childType.name }}</a>
                {% endfor %}
            </div>
            {# /left sidebar menu #}

            {# 12 wide main content #}
            <div class="twelve wide stretched column">
                {# main tab content #}
                {{ block('main_tab_segment') }}

                {# related types list content tabs #}
                {% for childType in objectEntity.entityType.childTypes if not childType.dataType %}
                    {{ block('related_types_tab_segment') }}
                {% endfor %}

                {# bottom buttons #}
                <div class="ui row">
                    <a class="ui left floated basic button" href="{{ path('builder_add_types',{}) }}">Назад</a>
                    {% if not objectEntity.entityType.isDataType %}
                        <a href="{{ path('vSingleObject',{'entityType':objectEntity.entityType.slug, 'object': objectEntity.slug}) }}"
                           class="ui right floated basic green button"
                           target="_blank">{{ 'Страница объекта'|trans }}</a>
                    {% endif %}
                    <button type="button" class="ui basic red delete-main-object right floated button">Удалить</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block main_tab_segment %}
    <div class="ui tab segment active" data-tab="main_object_form">
        <h1 class="ui header">{{ "Редактировать объект \"%name\" типа [%type]"|trans({'%name' : objectEntity.name, '%type' : objectEntity.entityType.name})|raw }}</h1>
        {{ include('BuilderBundle:Object:main.object.form.segment.html.twig') }}
    </div>
{% endblock %}

{% block related_types_tab_segment %}
    <div class="ui dynamic tab segment" data-tab="{{ 'child_type_'~childType.slug }}"
         data-url-template="{{ path('builder_edit_object',{ 'id': 0}) }}">
        <div class="ui top attached tabular menu">
            {% if childType.id in relatedObjects|keys %}
                {% for childObject in relatedObjects[childType.id] %}
                    <div class="item"
                         data-tab="{{ 'obj_'~childType.slug~'_'~childObject.id }}">{{ childObject.name }}</div>
                {% endfor %}
            {% endif %}
            <div id="{{ 'obj_'~childType.slug~'_new' }}" class="item"
                 data-tab="{{ 'obj_'~childType.slug~'_new' }}">
                <i class="icon plus"></i>
            </div>
        </div>
        {% if childType.id in relatedObjects|keys %}
            {% for childObject in relatedObjects[childType.id] %}
                <div class="ui bottom attached bottom-padded tab segment"
                     data-tab="{{ 'obj_'~childType.slug~'_'~childObject.id }}"
                     data-url="{{ path('builder_edit_object',{ 'id': childObject.id}) }}"></div>
            {% endfor %}
        {% endif %}
        <div class="ui bottom attached tab segment"
             data-tab="{{ 'obj_'~childType.slug~'_new' }}"
             data-url="{{ path('builder_add_type_object',{ 'id': childType.id, 'parentObjId': objectEntity.id}) }}"
             data-new="true"></div>
    </div>
{% endblock %}

{% block crud_modal_header %}
    {{- "Удалить обьект?"|trans -}}
{% endblock %}

{% block crud_modal_content %}
    <p>{{ "Удалив обьект вы также удалите ВСЕ значения полей этого обьекта. Cвязанные с другими обьектами поля не будут удалены. Действие необратимо!"|trans }}</p>
{% endblock %}